/*
DEFINE GLOBAL COLORS HERE

*/

// Main Palette
$green: #6D9886;
$dark: #212121;
$cream: #D9CAB3;
$lightBg: #e7e7e7;


// reactstrap
$dangerText: #721c24;


// GEEB palette colors
$primary: #90caf9;
$primaryText: #0d47a1;
$secundary: #80cbc4;
$secundaryText: #004d40;

$pCardOp: #81d4fa;
$pCardSOT: #0288d1;
$sCardOp: #020202;
$sCardOpT: #512da8;
