@import './global', './shared.scss';


.HomeContainer{
    text-align: center;
}

.firstSection {
    @include flexBoxH;
    position: relative;

}

.secondSection {
    @include flexBoxH;
    background-color: $lightBg;
    position: relative;

}
.thirdSection {
    @include flexBoxH;
    background-color: $dark;
    position: relative;
}

.textContainer1 {
    display: block;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imageContainer1, .imageContainer2, .imageContainer3 {
    display: block;
    width: 50vw;
}

.ill1, .ill3 {
    width: 100%;
}

.HeadLine {
    text-align: left;
    color: white; //$primary;
    font-size: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 60px;
    width: 560px;
    font-weight: bold;
    text-shadow: 3px 3px black;//$primaryText;
    z-index: 100;
}

.MainText{
    font-size: 22px;
    text-align: left;
    color: white;
    margin-left: 60px;
    margin-bottom: 32px;
}

.StartButton {
    border-radius: 10px !important;
    text-decoration: none !important;
    text-align: center;
    height: 70px !important;
    width: 190px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    margin-bottom: 32px;
}

.RegisterButton {
    border-radius: 10px !important;
    text-decoration: none !important;
    text-align: center;
    height: 70px !important;
    width: 190px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    margin-top: 20px;
}

.HeadLine2 {
    text-align: left;
    color: $green; //$primary;
    font-size: 52px;
    margin-bottom: 45px;
    margin-left: 0;
    width: 560px;
    font-weight: bold;
    text-shadow: 3px 3px $dark;//$primaryText;
    z-index: 100;

}

.MainText2 {
    font-size: 22px;
    text-align: left;
    color: $dark;
    margin-right: 70px;
    margin-bottom: 32px;
}

.HeadLine3 {
    text-align: left;
    color: $primary; //$primary;
    font-size: 52px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 60px;
    width: 560px;
    font-weight: bold;
    text-shadow: 3px 3px white;//$primaryText;
    z-index: 100;

}

.attribution {
    background-color: $dark;
    text-align: right;
    a {
        text-decoration: underline;
        color: grey;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {

    .HeadLine {
        font-size: 55px;
        margin-left: 25px;
    }
    .MainText {
        font-size: 18px;
        margin-left: 25px;
    }

    .StartButton {
        margin-bottom: 40px;
    }

    .secondSection {
        flex-direction: row-reverse;
    }

    .HeadLine2 {
        margin-top:25px;
        font-size: 45px;
        text-align: right;
        width: auto;
        padding-right: 25px;
    }
    .MainText2 {
        font-size: 18px;
        text-align: right;
        margin-right: 25px;
        max-width: 45vw;
        margin-bottom: 45px;
    }
    .imageContainer1 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }
    .imageContainer2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
    }
    .imageContainer3 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }

    .HeadLine3 {
        font-size: 45px;
        margin-left: 20px;
    }
    .MainText3 {
        font-size: 18px;
    }

    .RegisterButton {
        margin-bottom: 32px;
    }
    .attribution {
        margin-top: -1px;
        a {
            font-size: 14px;
        }
    }
}


@media (max-width: 426px) {

    .firstSection, .thirdSection {
        flex-direction: column;
        text-align: center;
    }

    .secondSection {
        flex-direction: column-reverse;
    }

    .textContainer1 {
        width: auto;
    }

    .HeadLine {
        width: auto;
        margin: 24px 0;
        text-align: center;
        color: white; 
        font-size: 40px;
        font-weight: bold;
        text-shadow: 3px 3px black;
    }
    .MainText, .MainText2, .MainText3 {
        text-align: center;
        font-size: 16px;
        margin: 0 20px 30px;
    }
    .MainText2 {
        max-width: none;
    }

    .imageContainer1, .imageContainer2, .imageContainer3 {
        position: static;
        width: auto;
        margin-bottom: 0;
    }


    .StartButton {
        height: 3.5em !important;
        width: 9em !important;
        font-size: 18px !important;
        font-weight: bold !important;
        margin-bottom: 0;
    }

    .HeadLine2 {
        text-align: center;
        font-size: 32px;
        margin: 24px 0;
        width: auto;
        text-shadow: 2px 2px $dark;
        padding: 0;
    }

    .HeadLine3 {
        text-align: center;
        font-size: 32px;
        margin: 24px 0;
        width: auto;
        text-shadow: 2px 2px white;
    }
    
    .RegisterButton {
        height: 3.5em !important;
        width: 9em !important;
        font-size: 18px !important;
        margin-top: 0;
        margin-bottom: 10px;
    }

}