
.fullLogo {
    width: 30vw;
    max-width: 300px;
}

.iconLogo {
    width: 15vw;
}

.searchButton {
    width: 30px;
    cursor: pointer;
    // on hover change glass to blue?
}

/*Media query 425px should change header*/


@media (max-width: 426px) {
    .collapseStyles{
        display: inline;
    }
}



@media (min-width: 425px) {
    .collapseStyles{
        display:hidden;
    }
    .navBar{
        display:inline;
    }
}