@import './global', './shared.scss', './VideosDisplay.scss', './VideoDetail.module.scss';

.videoPlayer {
    max-width: 560px;
    max-height: 420px;
    width: 60vw;
    height: 45vw;
    min-width: 210px;
    min-height: 165px;
    margin:auto;
}

.container {
    @include centeredContainer;
}

.wrapper{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $lightBg;
    border-radius: 25px;
    width: 691px;
    margin: 45px auto;
}
.PageTitle {
    @extend .ResultsLabel;
    margin: 40px auto 20px auto;
    color: black;
    text-shadow: 2px 2px white;
}
.colClass{
    min-height:100%;
    padding: 0 0 7% 0;
    margin: auto;
}
.rowClass{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.rowClassDate{
    @extend .rowClass;
    margin-bottom: 15px;
}
.formSubtitle {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.labelClass{
    font-weight: bold;
    text-align: left;
    margin-right: 20px;
}
.dateLabelClass {
    @extend .labelClass;
    margin-right: 8px;
}
.formCaption {
    text-align: left;
    margin-top: 30px;
}
.titleClass{
    font-weight: bold;
    width: 100%;
    text-align: left;
}
.smallInput{
    width:60px;
    margin-right: 12px;
}
.dateInput {
    width: 115px;
    margin-right: 10px;
}
.autoFillToday {
    @extend .descButton;
    font-weight: normal;
    text-align: right;
    margin-right: 12px;
}
@media (max-width: 768px) {
    .wrapper {
        margin: 5% 5%;
    }
    .colClass{
        width: 90%;
    }
    .rowClass{
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        width: 90%;
    }
    .rowClass {
        flex-direction: column;
    }
    .smallInput{
        width:50%;
        margin-right: 0;
    }
}