@import './global', './shared.scss';

/* Styles used for both Login.jsx and Register.jsx*/

.Main {
    min-height: 100vh;
    @include flexBoxH;
}

.leftSide {
    text-align: center;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark;

    width: 50vw;
    color: white;
}

.rightSide {
    text-align: center;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $green;

    width: 50vw;
    color: #000;
}

