@import './global';

@mixin flexBoxV {
    display: flex;
    flex-direction: column;
}

@mixin flexBoxH {
    display: flex;
    flex-direction: row;
}

@mixin genericButton {
    padding: 0.7rem 1.4rem !important;
}