@import "./global";

@mixin flexBoxV {
    display: flex;
    flex-direction: column;
}

@mixin flexBoxH {
    display: flex;
    flex-direction: row;
}

@mixin genericButton {
    padding: 0.7rem 1.4rem !important;
}

@mixin textLink {
    text-decoration: underline;
    color: $stroke;
    font-weight: bold;
}

@mixin centeredContainer {
    @include flexBoxV;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 138px);
}
