.VideosDisplay{
    display:flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.CenteredContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ResultsLabel {
    margin: 30px auto 20px 100px;
    font-size: 32px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .VideosDisplay{
        flex-direction: row;
    }
}
@media (max-width: 426px) {
    .VideosDisplay{
        flex-direction: column;
    }
    .ResultsLabel {
        width: calc(100% - 50px);
        text-align: left;
        margin: 30px 0 20px 35px;
        font-size: 28px;
        font-weight: 600;
    }
}