.VideosDisplay{
    display:flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.CenteredContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ResultsLabel {
    margin: 30px auto 20px 100px;
    font-size: 32px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .VideosDisplay{
        flex-direction: row;
    }
}
@media (max-width: 425px) {
    .VideosDisplay{
        flex-direction: column;
    }
}