@import './global', './shared.scss';

.VideosDisplay{
    display:flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.CenteredContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CenteredContainerFull {
    @extend .CenteredContainer;
    min-height: calc(100vh - 110px);
}

.ResultsLabel {
    margin: 30px auto 20px 100px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px black;//$primaryText;
    &::selection {
        background: transparent;
    }
    &::-moz-selection {
        background: transparent;
    }
}


@media (max-width: 768px) {
    .VideosDisplay{
        flex-direction: row;
    }
    .ResultsLabel {
        text-align: left;
        margin: 30px 0 20px 35px;
    }
}
@media (max-width: 426px) {
    .VideosDisplay{
        flex-direction: column;
    }
    .ResultsLabel {
        width: calc(100% - 50px);
        text-align: left;
        //margin: 30px 0 20px 35px;
        font-size: 28px;
        font-weight: 600;
    }
}